<h1><%= t ".title" %></h1>

<div id="products" class="products-grid">
  <% @products.each do |product| %>
    <div class="product-card">
      <% if product.featured_image.attached? %>
        <%= link_to image_tag(product.featured_image, class: "product-thumb"), product_path(product.id) %>
      <% end %>

      <h2>
        <%= link_to product.name, product_path(product.id) %>
      </h2>
      <p><%= truncate(product.description.to_plain_text, length: 80) %></p>
    </div>
  <% end %>
</div>
